* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

html {
  background: url("/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
}

body, input {
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
}

input {
    font-size: 100%;
}

a, a:visited, a:active {
    color: #258;
}

h3 {
    font-weight: bold;
    text-decoration: underline;
    font-size: 120%;
    padding: 8px 6px;
    text-align: center;
}

#top-tag-filter, #main-pane, #side-pane, #bottom-pane {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

#help {
    padding: 8px;
}

#main-pane {
    top: 60px;
    bottom: 0;
    left: 220px;
    overflow: auto;
}

#side-pane {
    width: 200px;
    right: auto;
    overflow: auto;
    border-right: 1px solid #999;
    background: rgba(255,255,255,0.3);
}


#lists .list {
    padding: 3px 6px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

#lists .selected {
    margin-top: 5px;
    padding: 2px 10px;
    background: rgba(1,183,235,0.5);
    font-weight: bold;
}

#lists .list-name {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

#createList {
    padding: 3px 6px;
    margin-top: 5px;
    overflow: auto;
    margin-left: 5px;
}

#new-list {
    width: 135px;
    outline: none;
    border: none;
    float: left;
    position: relative;
    height: 35px;
    padding-left: 10px;
    border-radius: 5px 0px 0px 5px;
    transition: 0.2s;
}

#new-list:focus {
    background: rgba(0,15,135,1);
    transition: 0.2s;
    color: white;
}

#createList button {
    height: 35px;
    width: 35px;
}

#new-todo-box {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 160%;
    position: relative;
    height: 44px;
    width: 100%;
}

#new-todo {
   position: relative;
   float: left;
   padding-left: 10px;
   width: 60%;
   margin-left: 18%;
   outline: none;
   border: none;
   height: 40px;
   border-radius: 5px 0px 0px 5px;  
   transition: 0.2s; 
}

#new-todo:focus {
    background-color: rgba(0,15,135,1);
    color: white;
    transition: 0.2s;
}

#new-todo-box button {
    height: 40px;
    width: 40px;
}

#items-view {
    margin-top: 5px;
    margin-left: 5px;
}

#item-list .todo {
    display: block;
    position: relative;
    overflow: hidden;
    width: 98%;
    background-color: rgba(255,255,255,0.5);
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
    border-radius: 5px;
}

#item-list .todo .destroy {
    cursor: pointer;
    position: relative;
    float: left;
    margin-left: 15px;
    top: -2px;
    height: 20px;
    width: 20px;
}

#item-list .todo .display, #item-list .todo .edit {
    margin-left: 10px;
    height: 100%;
    width: auto;
    float: left;
    line-height: 1;
    color: red;
}

#todo-input {
    width: 300px;
    position: relative;
    top: -3px;
}

#item-list .done .todo-text {
    color: rgba(0,15,135,1);
    font-weight: bold;
}

#item-list .todo:hover .destroy {
    background: url('/destroy.png') no-repeat 0 0;
}

#item-list .todo .destroy:hover {
    background-position: 0 -20px;
}

#item-list .todo .item-tags {
    overflow: auto;
    float: right;
    margin-right: 8px;
}

#item-list .todo .item-tags .tag {
    margin-top: 15px;
}

#item-list .todo .item-tags .removable_tag {
    padding-right: 22px;
}

#item-list .todo .item-tags .tag .remove {
    position: absolute;
    top: 0;
    right: 4px;
    bottom: 0;
    width: 16px;
    background: url("/close_16.png") no-repeat 0 center;
}

#item-list .todo .item-tags .tag .remove:hover {
    background-position: -16px center;
}

#item-list .todo .item-tags div.addtag {
    background: none;
    color: #333;
    border: 1px dashed #999;
}

#item-list .todo .check {
    float: left;
    width: 25px;
}

#item-list .todo .todo-text {
    float: left;
    font-size: 100%;
}

#item-list .todo .edit input {
    margin-left: 35px;
}

#edittag-input {
    width: 80px;
}

.add {
    position: relative;
    float: left;
    border: none;
    background: rgba(0,15,135,1);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 0px 5px 5px 0px;
    padding-bottom: 5px;
}


.destroy-list {
    float: right;
    position: relative;
}


.shuffle-it {
    width: 180px;
    height: 50px;
    color: rgba(1,183,235,1);
    font-weight: bold;    
    font-size: 1.5rem;
    outline: none;
    border: none;
    background: rgba(0,0,0,0.4);
    padding: 10px;
    border-radius: 10px;
    text-shadow: 2px 2px 2px #000;
    border: 2px solid white;
}


.shuffle-it:hover {
    background: rgba(0,0,0,0.5);
}

.shuffle-it:active {
    background: rgba(0,0,0,0.7);
}


#shuffle-result {
    text-align: center;
    font-size: 3rem;
    margin-left: 200px;
    margin-bottom: 20px;
    color: rgba(1,183,235,1);
}



#shuffle-result span {
    font-weight: bold;
    text-shadow: 2px 2px 2px #fff;
}

#info {
    padding: 5px;
    margin: 20px 5px 5px 5px;
    border: 1px solid black;
    border-radius: 3px;
    position: relative;
    float: left;
    width: 178px;
    background: rgba(255,255,255,0.6);
}

#info p {
    display: none;
    font-size: 0.8rem;
    margin-top: 10px;
}

.footer {
    position: absolute;
    width: 150px;
    bottom: 10px;
    right: 10px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer span {
    font-size: 0.33rem;
    position: relative;
    float: left;
    text-align: center;
    color: white;
}

.social-links {
    position: absolute;
    bottom: 8px; 
    left: 10px;
    float: left;
    width: 50px;
}
